@media (max-width: 1200px) {
  .menu {
    &_item {
      padding-right: 20px;
    }
    &_link {
      font-size: 13px;
    }
  }

  .promo {
    &__header {
      font-size: 50px;
    }
  }

  .mobile {
    &_item {
      width: 290px;
    }
    &_subtitle {
      font-size: 22px;
    }
  }
  .reasons {
    &_block {
      align-items: start;
    }
    &_descr {
      width: 300px;
    }
  }

  .choice {
    padding: 55px 0;
    min-height: 840px;
  }

  .require {
    br {
      display: none;
    }
  }

  .footer {
    &_wrapper > div {
      width: 50%;
      &:nth-child(1) {
        width: 25%;
      }
      &:nth-child(3) {
        width: 25%;
        display: flex;
        justify-content: flex-end;
      }
    }
    &_mobile {
      display: flex;
      a {
        margin: 0 3px img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .menu {
    &_item {
      padding-right: 15px;
    }
    &_link {
      font-size: 10px;
    }
  }

  .subheader {
    &_logo {
      img {
        width: 100%;
      }
    }
    &_official {
      font-size: 10px;
    }
    &_phone {
      font-size: 18px;
    }
  }

  .promo {
    &__header {
      font-size: 38px;
    }
    &__subheader {
      font-size: 30px;
    }
  }

  .button {
    &_main {
      margin-top: 21px;
      height: 40px;
      width: 100%;
    }
  }

  .reasons {
    &_block {
      flex-direction: column;
      align-items: center;
    }
    &_descr {
      width: 300px;
      margin-top: 20px;
    }
  }
}

@media (max-width: 767px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
    z-index: 100;
    &_active {
      left: 0;
    }
    &_item {
      padding-right: 0;
      border: none;
      margin: 10px 0;
    }
    &_link {
      font-size: 20px;
    }
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      margin-bottom: 2px;
      transition: 0.5s all;
    }
    &_active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
  .xs-hidden {
    display: none;
  }

  .xs-visible {
    display: block;
  }

  .subheader {
    &_phone {
      display: block;
      margin-top: 10px;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
  }

  .button {
    &_main {
      display: block;
      width: 200px;
      height: 40px;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
  .promo {
    &__header {
      line-height: 45px;
    }
  }
}

@media (max-width: 575px) {
  .subheader {
    &_official {
      display: none;
    }
    &_logo {
      margin-top: 27px;
    }
    &_phone {
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 10px;
    }
  }

  .button {
    &_main {
      width: 110px;
      height: 22px;
      font-size: 10px;
    }
  }

  .button {
    &_larg {
      width: 210px;
      height: 50px;
      font-size: 10px;
      margin-top: 70px;
    }
  }
  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0;
    &__descr {
      display: none;
    }
    &__header {
      font-size: 25px;
      padding: 0 24px;
      line-height: 35px;
    }
    &__subheader {
      font-size: 18px;
      margin-top: 33px;
      line-height: 30px;
      padding: 0 5px;
    }
  }
  .menu {
    width: 85%;
    &_item {
      width: 100%;
      text-align: center;
      padding: 5px 0;
    }
    &_link {
      display: block;
    }
  }

  .reasons {
    padding: 22px 0 36px 0;
    &_block {
      margin-top: 26px;
    }
    &_round {
      width: 100px;
      height: 100px;
    }
    &_descr {
      width: 100%;
      margin-top: 27px;
    }
    &_subtitle {
      font-size: 16px;
      text-align: left;
    }
    &_text {
      margin-top: 0;
    }
  }

  .mobile {
    padding: 20px 0 40px 0;
    .row {
      margin-top: 30px;
    }
    &_item {
      height: 254px;
      padding: 81px 40px 0 40px;

      &_subtitle {
        font-size: 18px;
        line-height: 31px;
      }
      &_plus {
        bottom: 28px;
        &:hover {
          &:before,
          &:after {
            background-color: $main-color;
          }
        }
      }
    }
  }
}
