.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url('../img/bg/mobile_app.png') center center/cover no-repeat;
  .row {
    margin-top: 32px;
  }
  &_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px;
    &_1 {
      background: url(../img/bg/mobile_screen_1.jpg);
    }
    &_2 {
      background: url(../img/bg/mobile_screen_2.jpg);
    }
    &_3 {
      background: url(../img/bg/mobile_screen_3.jpg);
    }
    &_4 {
      background: url(../img/bg/mobile_screen_4.jpg);
    }
    &_5 {
      background: url(../img/bg/mobile_screen_5.jpg);
    }
    &_6 {
      background: url(../img/bg/mobile_screen_6.jpg);
    }
    &_subtitle {
      font-size: 24px;
      line-height: 31px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
    }
    &_plus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
      width: 26px;
      height: 26px;
      background-color: #000;
      margin: 0 auto;
      border-radius: 100%;
      cursor: pointer;
    }
  }
}
