.promo {
  min-height: 800px;
  background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
  padding: 150px 0 135px 0;
  &__header {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 60px;
    margin: 0;
    text-align: center;
  }
  &__subheader {
    line-height: 36px;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    margin-top: 22px;
    text-align: center;
  }
  &__descr {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 23px;
  }
}
