.reasons {
  padding: 71px 0 65px 0;

  &_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    .reasons_round {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 26px;
      width: 113px;
      height: 113px;
      background-color: #1eacc7;
      border-radius: 100%;
    }
    .reasons_descr {
      width: 343px;
    }
    .reasons_subtitle {
      line-height: 21px;
      color: #1eacc7;
      font-size: 17px;
      font-weight: 400;
    }
    .reasons_text {
      color: #202020;
      font-size: 15px;
      font-weight: 300;
      line-height: 21px;
    }
  }
}
