.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  margin-top: 19px;
  font-size: 17px;
  text-align: center;
  font-weight: 400;
  color: #222222;
}
