@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import './bootstrap-grid.min.css';
@import 'blocks/promo';

body {
  font-family: 'Roboto', sans-serif;
}

@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/reasons';
